<header class="site-header o-wrapper u-py-[24px]" role="banner">
    <div>
        <div>
            <p class="u-text-title u-text-[24px]"><strong>Beep</strong></p>
        </div>
        <!--<div>
            {% include "navigation.njk" %}
        </div>-->
    </div>
</header>
