<header class="site-header" role="banner">
    <div>
        <div>
            <p><strong>Beep</strong></p>
        </div>
        <div>
            {% include "navigation.njk" %}
        </div>
    </div>
</header>
