# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
package-lock.json

# Eleventy
dist/

# Misc
.DS_Store
.env

# Local Netlify folder
.netlify


# IntelliJ stuff:

## User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

## Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml

## Gradle:
.idea/gradle.xml
.idea/libraries

## Mongo Explorer plugin:
.idea/mongoSettings.xml

## File-based project format:
*.iws