@font-face {
	font-family: 'Fraunces Subset';
	src: url('/assets/fonts/fraunces/fraunces-v31-latin-regular.woff2') format('woff2');
	unicode-range: U+21-80,U+91-94,U+BF-D6,U+D8-F6,U+F8-122; // U+21-80,U+91-94,U+DF,U+E4,U+F6,U+FC
}

@font-face {
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/assets/fonts/fraunces/fraunces-v31-latin-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 100;
	src: local(''), url('/assets/fonts/fraunces/fraunces-v31-latin-100.woff2') format('woff2');
}

@font-face {
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('/assets/fonts/fraunces/fraunces-v31-latin-700.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter Subset';
	src: url('/assets/fonts/inter/inter-v2-latin-regular.woff2') format('woff2');
	unicode-range: U+21-80,U+91-94,U+BF-D6,U+D8-F6,U+F8-122; // U+21-80,U+91-94,U+DF,U+E4,U+F6,U+FC
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	src: local(''), url('/assets/fonts/inter/inter-v2-latin-regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100;
	src: local(''), url('/assets/fonts/inter/inter-v2-latin-100.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	src: local(''), url('/assets/fonts/inter/inter-v2-latin-700.woff2') format('woff2');
}
